@font-face {
  font-family: 'Hind Vadodara';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Hind Vadodara Regular'), local('HindVadodara-Regular'),
    url(./fonts/HindVadodara-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Hind Vadodara Medium'), local('HindVadodara-Medium'),
    url(./fonts/HindVadodara-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Hind Vadodara SemiBold'), local('HindVadodara-SemiBold'),
    url(./fonts/HindVadodara-SemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .gs - Grid System util https://www.figma.com/file/7NnFCu4jFGBM1EIXSWNAVX/Starterkit-2.0?node-id=690%3A265 */
@layer utilities {
  .gs {
    @apply grid gap-2 grid-cols-4 sm:grid-cols-8 md:gap-3 md:grid-cols-12 xl:gap-4;
  }

  @variants responsive {
    .vh-screen {
      height: calc(var(--vh, 1vh) * 100);
    }

    .min-vh-screen {
      min-height: calc(var(--vh, 1vh) * 100);
    }
  }
}

body {
  @apply font-font1 bg-bg200;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply h-4px bg-accent700 fixed left-0 top-0 w-full;
  z-index: 99999999;
}
